*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}
.body {
    background-color: rgb(215, 192, 192);
}

.header {
    display: flex;
    background-color: rgb(223, 238, 233);
    justify-content: space-between;
    width: 100%;
}

.logo {
    width: 150px;
    height: 100px;
}
.ul1 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(212, 171, 171);
    list-style-type: none;
    width: 400px;
}
.dunk {
    display: flex;
    justify-content: space-around;
}
.basket2 {
    height: 100px;
    width: 150px;
}
.dunk1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/********** Section 3*********/
.section3 {
    background-color: rgb(176, 197, 190);
    /* width: 600px; */
    display: flex;
    flex-direction:column;
    align-items: center;
    margin:50px;
    padding:10px;
    border-radius: 25px;
}

table,th,td {
    border: 1px dotted black;
}

table th td {

    border: 1px dashed black;
    border-collapse: collapse;
}

/******* Section 4 *****/

.section4 {
    background-color: rgb(176, 197, 190);
    /* width: 600px; */
    display: flex;
    flex-direction:column;
    align-items: center;
    margin:50px;
    padding: 10px;
    border-radius: 25px;
}

/*************************  Section 5 *******************/

.section5 {
    background-color: rgb(176, 197, 190) ;
    display:flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
    padding: 10px;
    border-radius: 25px;
}
.block {
    background-color:bisque;
    /* margin: 20px; */
    /* padding: 10px; */
    width: 350px;
    height: 150px;
    margin: 10px;
    padding: 25px;
    border: 5px solid black;
    display: block;
    list-style-type: decimal ;
    list-style-position: inside;
}
.inline {
    background-color:rgb(247, 140, 8);
    color:red;
    margin: 100px;
    padding: 8px;    
}


.section5 li {
    color: blue;
    background-color: bisque;
    display: list-item;
    list-style-type: square;
}
