*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}
.body {
    background-color: rgb(215, 192, 192);
}

.header {
    display: flex;
    background-color: rgb(223, 238, 233);
    justify-content: space-between;
    width: 100%;
}

.logo {
    width: 150px;
    height: 100px;
}
.ul1 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(212, 171, 171);
    list-style-type: none;
    width: 400px;
}
.dunk {
    display: flex;
    justify-content: space-around;
}
.basket2 {
    height: 100px;
    width: 150px;
}
.dunk1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/********** Section 3*********/
.section3 {
    background-color: rgb(176, 197, 190);
    /* width: 600px; */
    display: flex;
    flex-direction:column;
    align-items: center;
    margin:50px;
    padding:10px;
    border-radius: 25px;
}

table,th,td {
    border: 1px dotted black;
}

table th td {

    border: 1px dashed black;
    border-collapse: collapse;
}

/******* Section 4 *****/

.section4 {
    background-color: rgb(176, 197, 190);
    /* width: 600px; */
    display: flex;
    flex-direction:column;
    align-items: center;
    margin:50px;
    padding: 10px;
    border-radius: 25px;
}

/*************************  Section 5 *******************/

.section5 {
    background-color: rgb(176, 197, 190) ;
    display:flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
    padding: 10px;
    border-radius: 25px;
}
.block {
    background-color:bisque;
    /* margin: 20px; */
    /* padding: 10px; */
    width: 350px;
    height: 150px;
    margin: 20px 20px 20px 100px;
    padding: 25px;
    border: 5px solid black;
    display: block;
    list-style-type: decimal ;
    list-style-position: inside;
}
.inline {
    background-color:rgb(247, 140, 8);
    color:red;
    margin: 100px;
    padding: 8px; 
    border:10px solid black  
}


.section5 li {
    color: blue;
    background-color: bisque;
    display: list-item;
    list-style-type: square;
}
/************** Au dessous du Main **********/
.img_test {
    width: 200px;
    margin-top:10px;
    border: 5px solid black;
}

/******* CSS concernant le menu burger ******/

#menuToggle
{
    display: block;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span
{
    display: block;
    width: 26px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: rgb(33, 246, 72);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 3px 0px;
    transition: transform 0.2s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #E74C3C;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg)     
      scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

/*This is the Menu part, which gets triggered by toggle*/
#menu
{   
    position: absolute;
    width: 400px;
    height: 400px;
    margin: -100px 0 0 -50px;
    padding: 20px;
    padding-top: 100px;
    background: rgba(236, 240, 241, 0.97);;
    list-style-type: none;
    transform-origin: 0 0;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    text-align: center;

}

#menu li
{
    padding: 15px 0;
    color: #000000;
    list-style-type: none;
    font-size: 1em;
    font-weight: 300;
}

#menu li a {
      color: #E74C3C;
      text-decoration: none;
      text-transform: uppercase
}

#menu li a:hover {
    color: #2C3E50;
    text-decoration: none;
}

#menuToggle input:checked ~ ul
{
    transform: scale(1.0, 1.0);
    opacity: 1;
}

.menu_burger {
    display:none;
}
/****** Fin Menu burger ******/

/**** Media Query *******/
@media screen and (max-width: 768px){
    .menu_burger {
        display: block;
    }
    .menu_desktop {
        display: none;
    }
}