*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}
.body {
    background-color: rgb(166, 223, 139);
    margin: 0 auto;
}

.header {
    display: flex;
    background-color: rgb(223, 238, 233);
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 4;
}
.logo {
    width: 150px;
    height: 100px;
}
.ul1 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(212, 171, 171);
    list-style-type: none;
    width: 400px;
}
.dunk {
    display: flex;
    justify-content: space-around;
    padding-top: 110px; /* Pour donner de la distance par rapport à l'espace du header*/
}
.basket2 {
    height: 100px;
    width: 150px;
}
.dunk1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/********** Section 3*********/
.section3 {
    background-color: rgb(176, 197, 190);
    /* width: 600px; */
    display: flex;
    flex-direction:column;
    align-items: center;
    margin:50px;
    padding:10px;
    border-radius: 25px;
}
table,th,td {
    border: 1px dotted black;
}
table th td {
    border: 1px dashed black;
    border-collapse: collapse;
}

/******* Section 4 *****/
.section4 {
    background-color: rgb(176, 197, 190);
    /* width: 600px; */
    display: flex;
    flex-direction:column;
    align-items: center;
    margin:50px;
    padding: 10px;
    border-radius: 25px;
}

/*************************  Section 5 *******************/
.section5 {
    background-color: rgb(176, 197, 190) ;
    display:flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
    padding: 10px;
    border-radius: 25px;
}
.block {
    background-color:bisque;
    /* margin: 20px; */
    /* padding: 10px; */
    width: 350px;
    height: 150px;
    margin: 20px 20px 20px 100px;
    padding: 25px;
    border: 5px solid black;
    display: block;
    list-style-type: decimal ;
    list-style-position: inside;
}
.inline {
    background-color:rgb(247, 140, 8);
    color:red;
    margin: 100px;
    padding: 8px; 
    border:10px solid black  
}
.section5 li {
    color: blue;
    background-color: bisque;
    display: list-item;
    list-style-type: square;
}
.img_test {
    width: 200px;
    margin-top:10px;
    border: 5px solid black;
    padding : 80px;
}

/******* Menu burger en Desktop ******/
#menuToggle
{
    display: block;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}
#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}
#menuToggle span
{
    display: block;
    width: 26px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: rgb(33, 246, 72);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 3px 0px;
    transition: transform 0.2s cubic-bezier(0.77,0.2,0.05,1.0);
    background: 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}
#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #E74C3C;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg)     
      scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}
    /*This is the Menu part, which gets triggered by toggle*/
#menu
{   
    position: absolute;
    width: 400px;
    height: 400px;
    margin: -100px 0 0 -50px;
    padding: 20px;
    padding-top: 100px;
    background: rgba(236, 240, 241, 0.97);;
    list-style-type: none;
    transform-origin: 0 0;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    text-align: center;

}
#menu li
{
    padding: 15px 0;
    color: #000000;
    list-style-type: none;
    font-size: 1em;
    font-weight: 300;
}
#menu li a {
      color: #E74C3C;
      text-decoration: none;
      text-transform: uppercase
}
#menu li a:hover {
    color: #2C3E50;
    text-decoration: none;
}
#menuToggle input:checked ~ ul
{
    transform: scale(1.0, 1.0);
    opacity: 1;
}
.menu_burger {
    display:none;
}
/****** Fin Menu burger ******/

/****** Début section 6 sur  */
.section6 {
    background-color: bisque;
    width: 1000px;
    margin:100px auto;
    padding: 100px;
    border-radius: 15px;

}
.section6 p {
  background: rgba(255, 84, 104, 0.3);
  border: 2px solid rgb(255, 84, 104);
  padding: 10px;
  margin: 10px;
}
.section6 span {
  background: white;
  border: 1px solid black;
}

/***** Section 7 ******/
.section7 {
 background-color: rgb(176, 197, 190);
 margin:auto;
 padding: 10px;
 border-radius: 25px;
 width: 1500px;
 display: flex;
 justify-content: center;   
 flex-direction: column;
 gap:10px
}
.section7 h1 {
    background-color: #fff;
    margin: auto;
}
.section7 .positioned {
  position: static;
  background: rgb(188, 188, 34);
}
.section7 p {
        background: bisque;
        border: 3px solid blue;
        padding: 10px;
        margin: 10px;
}
.section7 span {
        background: rgb(225, 181, 181);
        border: 1px solid black;
}

/****** Section 8 ******/
.section8 {
 background-color: rgb(176, 197, 190);
 margin:50px auto;
 padding: 10px;
 border-radius: 25px;
 width: 1500px;
 display: flex;
 justify-content: center;   
 flex-direction: column;
 gap:10px
}
.section8 h1 {
    background-color: #fff;
    margin: auto;
}

.section8 .positioned {
  position: relative;
  background: rgb(188, 188, 34);
  top: 40px;
  left: 80px

}

.section8 p {
        background: bisque;
        border: 3px solid blue;
        padding: 10px;
        margin: 10px;
      }
.section8 span {
        background: rgb(225, 181, 181);
        border: 1px solid black;
      }

/****** Section 9 ******/
.section9 {
 background-color: rgb(176, 197, 190);
 margin:50px auto;
 padding: 10px;
 border-radius: 25px;
 width: 1500px;
 display: flex;
 justify-content: center;   
 flex-direction: column;
 gap:10px;
 position : relative;
}
.section9 h1 {
    background-color: #fff;
    margin: auto;
}
.section9 .positioned {
  position: absolute;
  background: rgb(188, 188, 34);
  top: 90px;
  left: 70px;
}
.section9 p {
        background: bisque;
        border: 3px solid blue;
        padding: 10px;
        margin: 10px;
}
.section9 p:nth-of-type(1) {
        position: absolute;
        background: lime;
        top: 100px;
        right: 30px;
        z-index: 1;
 }
.section9 span {
        background: rgb(225, 181, 181);
        border: 1px solid black;
      }

/****** Section 10 ******/
.section10 {
 background-color: rgb(176, 197, 190);
 margin:50px auto;
 padding: 10px;
 border-radius: 25px;
 width: 1500px;
 display: flex; 
 justify-content: center;   
 flex-direction: column;
 gap:10px;
 /* position : relative; */
}
.section10 h1 {
    background-color: white;
    margin: auto;
    /* width: 1500px; */
    /* position: fixed; */
    top: 0;
    /* padding: 20px 600px;  */
    margin-top: 20px;
    /* z-index: 3; */
}
.section10 p {
        background: bisque;
        border: 3px solid blue;
        padding: 10px;
        margin: 10px;
}
.section10 span {
        background: rgb(225, 181, 181);
        border: 1px solid black;
      }

/****** Section 11 : Position Sticky ******/
.section11 {
 background-color: rgb(176, 197, 190);
 margin:50px auto;
 padding: 10px;
 border-radius: 25px;
 width: 1500px;
 display: flex; 
 justify-content: center;   
 flex-direction: column;
 gap:10px;
}
.section11 h1 {
    background-color: white;
    margin: auto;
    position: sticky;
    z-index: 5;
    top: 0px;
}
.section11 p {
        background: bisque;
        border: 3px solid blue;
        padding: 10px;
        margin: 10px;
}
.section11 span {
        background: rgb(225, 181, 181);
        border: 1px solid black;
}
.section11 dl {
    margin: auto;
}
.section11 dt {
  background-color: black;
  color: white;
  padding: 10px;
  position: sticky;
  top: 35px;
  left: 0;
  margin: 1em 0;
  z-index: 5;
}

/****** Flex-Direction ******/

.section12 {
    background-color: rgb(176, 197, 190);
    margin:50px auto;
    padding: 10px;
    border-radius: 25px;
    width: 1500px;
    gap:10px;
}
.section12 header {
    background: purple;
    height: 100px;
}
.section12 h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}
.section12 article {
    padding: 10px;
    margin: 10px;
    background: aqua;
}
.section12 div {
    display: flex;
    flex-direction: column;
}

/****** Section 13 Flex-Wrap et Flex-Flow ******/
.section13 {
    background-color: rgb(176, 197, 190);
    margin:50px auto;
    padding: 10px;
    border-radius: 25px;
    width: 1500px;
    gap:10px;
}
.section13 header {
    background: purple;
    height: 100px;
}
.section13 h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}
.section13 article {
    padding: 10px;
    margin: 10px;
    background: aqua;
    flex: 200px;
}
.section13 div {
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
}

/****** Section 14 Flex: Valeur ou Flex-Basis; Flex-Grow; Flex-Shrink******/
.section14 {
    background-color: rgb(176, 197, 190);
    margin:50px auto;
    padding: 10px;
    border-radius: 25px;
    width: 1500px;
    gap:10px;
}
.section14 header {
    background: purple;
    height: 100px;
}
.section14 h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}
.section14 article {
    padding: 10px;
    margin: 10px;
    background: aqua;
    flex : 1;
    /* flex:1 100px; */
    /* flex-basis: 200px; */
    /* flex-grow:1; */
}
.section14 div {
display: flex;
}
.section14 article:nth-of-type(3) {
    flex: 3;
    /* flex:3 100px; */
    /* flex-basis: 700px; */
    /* flex-grow:3; */
}

/****** Section N ******/
.sectionN {
    background-color: rgb(176, 197, 190)    ;
    width: 1500px;
    height: 200px;
    margin: 50px auto;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}
.title1N {
    margin: auto;
}

/**** Section N1 Test Flexbox****/
.sectionN1 {
 background-color: rgb(176, 197, 190);
 margin:50px auto;
 padding: 10px;
 border-radius: 25px;
 width: 1500px;
 display: flex; 
 justify-content: center;   
 flex-direction: column;
 gap:10px;
}
.sectionN1 h1 {
    background-color: white;
    margin: auto;
}
.boxRed{
    width: 1200px;
    height: 800px;
    background-color: #ee0f0f;
    display: flex;
    margin: auto;
}
.boxBlue{
    width: 400px;
    height: 200px;
    background-color: blue;
}
.boxYellow{
    width: 400px;
    height: 200px;
    background-color: yellow;
    border: 1px solid black;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
.boxGreen{
    width: 400px;
    height: 200px;
    background-color: green;
    border: 1px;
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
}
.boxGrey{
    width: 100px;
    height: 150px;
    background-color: grey;
    border: 1px solid black;
    margin: 5px;
}
.boxPink{
    width: 80px;
    height: 150px;
    background-color: pink;
    border: 1px solid black;
    margin: 5px;
}


/**** Media Query *******/
@media screen and (max-width: 768px){
    .menu_burger {
        display: block;
    }
    .menu_desktop {
        display: none;
    }
}